* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.todoMain {
  width: 380px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.96);
  padding: 10px 15px 25px;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 35px;
  line-height: 150%;
  margin-bottom: 10px;
  font-weight: 800;
}

.header-form {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-form input {
  font-size: 18px;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  background: #FFF;
  box-shadow: 0px 16px 24px 0px rgba(255, 255, 255, 0.14);
}

.header-form input::placeholder {
  color: rgba(0, 0, 0, .5);
}

input:focus {
  outline: 0;
}

.todoBtn {
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 500;
  background: #DFBD43;
  color: #fff;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.2);
}

h3 {
  font-weight: 600;
}

.hello {
  height: 68%;
}

.task-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  background: transparent;
  padding: 10px 13px;
  margin-top: 12px;
  border-radius: 20px;
  border: 2px solid #D6D6D6;
}

.task-contents {
  width: 100%;
}

.task-contents input,
textarea {
  width: 97%;
  border: 0;
  background: transparent;
  font-size: 19px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.task-contents .task-details {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
  resize: none;
  color: #ffffff;
  margin-top: 8px;
}

.task-btns {
  display: flex;
  align-items: center;
}

.task-btns button {
  font-size: 20px;
  border: 0;
  width: 35px;
  height: 35px;
  color: rgb(255, 255, 255);
  background: green;
  font-weight: 700;
  transition: all .3s linear;
  cursor: pointer;
  border-radius: 5px;
}

.task-btns button:hover {
  color: green;
  background: transparent;
}

.task-btns .delete {
  margin-left: 4px;
  color: white;
  background: red;
}

.task-btns .delete:hover {
  color: rgb(255, 0, 0);
  background: transparent;
}

ul {
  height: 92%;
  overflow-y: auto;
  scrollbar-width: n
}

ul::-webkit-scrollbar {
  display: none;
}

.task-input:not(:read-only),
.task-details:not(:read-only) {
  color: #DFBD43;
}

.task-details-p {
  font-size: 13px;
  color: #fff;
  width: 98%;
  text-transform: capitalize;
}

textarea:focus-visible {
  outline: 0;
}


@media (min-width: 200px) and (max-width: 600px) {
  .todoMain {
    width: 100vw;
    border-radius: 0;
  }
}